<mat-card class="container">
  <h1 mat-dialog-title>Add new contact</h1>
  <div style="width: 100%" mat-dialog-content>
    <form (keydown.enter)="addContact()">
      <mat-form-field>
        <label>First Name:</label>
        <input matInput [(ngModel)]="firstName" [formControl]="firstNameFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="firstNameFormControl.hasError('required')">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label>Last Name:</label>
        <input matInput [(ngModel)]="lastName" [formControl]="lastNameFormControl" [errorStateMatcher]="matcher">
      </mat-form-field>
      <br>
      <mat-form-field>
        <label>Phone Number:</label>
        <input matInput type="number" [(ngModel)]="phoneNumber" [formControl]="phoneFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="phoneFormControl.hasError('required')">
          Phone number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <a routerLink="/" mat-button>Back</a>
    <button mat-button (click)="addContact()"  cdkFocusInitial>Add</button>
  </div>
</mat-card>
