<h1 mat-dialog-title>Add new contact</h1>
<div mat-dialog-content>
  <mat-form-field>
    <label>First Name:</label>
    <input matInput [(ngModel)]="firstName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <label>Last Name:</label>
    <input matInput [(ngModel)]="lastName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <label>Phone Number:</label>
    <input matInput [(ngModel)]="phoneNumber">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="addContact()" cdkFocusInitial>Add</button>
</div>
